* {
  box-sizing: border-box;
}

body {
  padding: 5% 0% 5% 5%;
  width: 100%;
  background: #FFFFFF;
}

.features h2 {
  padding-bottom: 0%;
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #009ADA;
}

h1 {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-top: 0%;
}

.attack {
  padding-bottom: 2%;
  width: 40%;
  line-height: 50px;
  color: #343741;
}

.card-wrapper {
  display: flex;
  padding-right: 80%;
}

.navbar {
  display: flex;
  flex-direction: column;
  margin-top: 18%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 7% 4% 4% 7%;
}

.card H2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  color: #009ADA;
}

.bordertop h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 30%;
  border-top: 1px solid #C7C9C8;
  width: 50%;
  padding-top: 5%;
  padding-bottom: 3%;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #009ADA;
}

h3 svg {
  margin-left: 10px;
}

.card-p {
  width: 95%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.0311111px;
  color: #343741;
}

button {
  width: 350px;
  margin-left: 3%;
  text-align: left;
  height: 70px;
  background: transparent;
  color: #878A8F;
  font-size: medium;
  border: none;
  padding: 4%;
}

button:focus {
  padding: 4%;
  margin-left: 2%;
  width: 350px;
  height: 60px;
  text-align: left;
  background: #5F6369;
  color: #FFFFFF;
  font-size: medium;
  border-right: 13px solid #009ADA;
  -webkit-transition: 0.25s -webkit-transform ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(2%, 0, 0);
}

ul {
  float: left;
  width: 350px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  padding: 3%;
  font-weight: 100;
}

li {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.0311111px;
  color: #343741;
}

ul li::before {
  content: "\2022";
  font-weight: bold;
  color: #009ADA;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 1rem;
}

/* tablet */
@media (max-width: 768px) {

  body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5% 5% 1% 3%;
    width: 100%;
  }

  .attack {
    width: 90%;
  }

  button {
    display: none;
  }

  h1 {
    font-size: 3rem;
    line-height: 1.1;
  }

  .features h2 {
    font-size: 1.6rem;
  }

  .card h2 {
    font-size: 2rem;
  }

  .bordertop h3 {
    font-size: 1.7rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }

  li {
    padding: 2%;
    margin: 0%
  }

  .card {
    display: flex;
    justify-content: center;
    width: 200%;
  }

  .card p {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 1.2rem;
    line-height: 1.8;
  }
}

/* mobile */
@media (max-width: 480px) {

  body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    padding: 5% 5% 1% 5%;
    justify-content: center;
    margin: 0%;
  }

  .features h2 {
    margin: 3%;
    padding-left: 0%;
  }

  .attack {
    width: 95%;
    margin: 3%;
    padding-left: 0%;
  }

  .card H2 {
    line-height: 1.2;
  }

  button {
    display: none;
  }

  .card {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3%;
    padding-left: 10%;
  }

  .card p {
    width: 80%;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }

  li {
    margin: .8%
  }
}